@page "/Users/CreateUser"
@using HomeWebApp.Models
@using System.Text.Json.Nodes

<h1>Welcome to Create User Profile</h1>
<div class="row">
    <div class="col-lg-8">
        <div class="row mb-3">
            <label class="col-md-4 col-form-label"> Name : </label>
            <div class="col-md-8">
                <input class ="form-control" @bind="UserData.Name" />
                <span class=" text-danger">@Errors["Name"]?[0]</span>
            </div>
        </div> 
        <div class="row mb-3">
            <label class="col-md-4 col-form-label"> Email : </label>
            <div class="col-md-8">
                <input class="form-control" @bind="UserData.Email" />
                <span class=" text-danger">@Errors["Email"]?[0]</span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label"> Phone Number : </label>
            <div class="col-md-8">
                <input class="form-control" @bind="UserData.PhoneNumber" />
                <span class=" text-danger">@Errors["PhoneNumber"]?[0]</span>
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-md-4 col-form-label"> IC Number : </label>
            <div class="col-md-8">
                <input class="form-control" @bind="UserData.ICNumber" />
                <span class=" text-danger">@Errors["ICNumber"]?[0]</span>
            </div>
        </div>
        <div class="row">
            <div class="offset-md-4 col-md-4 d-grid">
                <button class="btn btn-primary" @onclick="SaveUser">Submit</button>
            </div>
            @* <div class="col-md-4 d-grid">
                <a class="btn btn-outline-primary" href="/Users">Cancel</a>
            </div> *@
        </div>
    </div>
</div>

@inject HttpClient http
@inject NavigationManager navManager



@code {
    public CreateUser UserData { set; get; } = new();
    public JsonNode Errors { set; get; } = new JsonObject();

    protected async Task SaveUser()
    {
        var response = await http.PostAsJsonAsync("https://localhost:4000/api/user", UserData);
        if (response.IsSuccessStatusCode)
        {
            //redirect to list of client
            navManager.NavigateTo("/Users");
        }
        else
        {
            var strResponse = await response.Content.ReadAsStringAsync();
            Console.WriteLine("Json Response: \n" + strResponse);

            try
            {
                var jsonResponse = JsonNode.Parse(strResponse);
                Errors = jsonResponse?["errors"] ?? new JsonObject();
            }
            catch(Exception ex)
            {
                
            }

        }
    }


}
